* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
}
.red {
  border: 1px solid red;
}
.blue {
  border: 1px dashed blue;
}
.green {
  border: 1px dotted green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 450px;
}

.img-section {
  width: 50%;
  height: 100%;
}

.img-section img {
  width: 100%;
  border-radius: 15px 0 0 15px;
}

.info-section {
  width: 50%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: hsl(0, 0%, 100%);
}

.info-inner {
  padding: 1.3rem 2rem;
}

.info_category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.3rem;
}

.info_product {
  margin: 1.5rem 0;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  line-height: 2rem;
}

.info_product-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: hsl(228, 12%, 48%);
  line-height: 1.4rem;
}

.info_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  margin: 1.4rem 0;
}

.info_dis-price {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

.info_origin-price {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.btn_add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  cursor: pointer;
}

.btn_add-to-cart img {
  padding-right: 10px;
}

.btn_add-to-cart p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .inner {
    flex-direction: column;
    max-width: 340px;
  }

  .img-section {
    width: 100%;
    height: 60%;
  }

  .img-section img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .info-section {
    width: 100%;
    height: none;
    border-radius: 0 0 10px 10px;
  }
}
